* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

/* NAVBAR */
.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 50px;
  background-color: #fff;
  position: fixed;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 5px;
}

.logo-container img {
  width: 40px;
  height: 22px;
}

.logo-container h3 {
  font-size: 25px;
}

.link-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.link-container ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.link-container ul li {
  list-style: none;
}

.icon-container {
  display: flex;
  flex: 1;
  justify-content: end;
}

.icon-container ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icon-container ul li {
  list-style: none;
}

.icon-container ul li img {
  width: 22px;
}

/* BANNER */
.banner-container {
  height: 100vh;
  background-image: url('../Assets/scandinavian-interior.png');
  background-position: center;
}

.banner-container .banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  border-radius: 5px;
  width: 600px;
  padding: 35px;
  background-color: #fff3e3;
  right: 80px;
  top: 200px;
  box-sizing: border-box;
  position: absolute;
}

.banner-container .banner .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.banner-container .banner .info h4 {
  font-weight: 600;
  letter-spacing: 3px;
}

.banner-container .banner .info h1 {
  font-weight: 600;
  line-height: 50px;
  font-size: 50px;
  color: #b88e2f;
}

.banner-container .banner .info p {
  font-size: 15px;
}

.banner-container .banner .banner-button {
  height: 50px;
  width: 150px;
  border: none;
  font-weight: 600;
  color: white;
  background-color: #b88e2f;
}

.banner-container .banner .banner-button:hover {
  cursor: pointer;
}
